  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Kanit";
    background-image: linear-gradient(#355c7d, #c06c84);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .header-container h1 {
    font-size: 2rem;
  }
  
  .header-container h1:hover {
    color: #f67280;
  }
  
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    color: skyblue;
  }
  
  a.active {
    color: #f67280;
  }
  
  .main-container {
    flex: 1;
    padding: 25px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .footer-container img {
    height: auto;
    width: 25px;
  }