.post-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: 1px solid white;
    border-radius: 8px;
    border-color: white;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.content p {
    text-align: start;
    flex-wrap: wrap;
    max-width: 1000px;
}
