.post-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    border-color: white;
    min-width: 800px;
}

/* Add additional styling as needed */
