<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/about.css">
</head>
<%- include('../includes/header.ejs') %>
<h1>Welcome to Your Application Name</h1>
<p>Where Words Meet the Screen</p>

<section id="about">
  <h2>About Us</h2>
  <p>Welcome to Your Application Name, an online community where words become stories and stories become experiences. Here, we've created a space where everyone can share their thoughts, ideas, and stories with the rest of the world.</p>
</section>

<section id="mission">
  <h2>Our Mission</h2>
  <p>Our mission is to encourage creativity and dialogue by providing a platform for all writing enthusiasts. Whether you're an experienced writer, an enthusiastic blogger, or someone who just wants to share their thoughts, Your Application Name is the place where every voice has its space.</p>
</section>

<section id="sets-apart">
  <h2>What Sets Us Apart</h2>
  <ul>
    <li><strong>Freedom of Expression:</strong> We value diversity in style, genres, and topics. Every blog has its unique story.</li>
    <li><strong>Supportive Community:</strong> Your Application Name is more than just a platform; it's a community. We support each other, share advice, and inspire one another.</li>
    <li><strong>Ease of Use:</strong> We were created with the aim of making the sharing of your stories easy. Simply write, publish, and connect with your audience.</li>
  </ul>
</section>

<section id="getting-started">
  <h2>Getting Started</h2>
  <ol>
    <li><strong>Register:</strong> Become part of our community by <a href="#your-registration-link">registering</a>. It's quick, easy, and free!</li>
    <li><strong>Write Your Story:</strong> Choose your favorite topic and let your thoughts flow freely. Our writing tool makes the process simple and enjoyable.</li>
    <li><strong>Publish and Connect:</strong> Once you're done, simply publish your blog and connect with other writing enthusiasts. Comment, share experiences, and build the community.</li>
  </ol>
</section>

<section id="stay-connected">
  <h2>Stay Connected</h2>
  <p>Follow us on <a href="#your-social-media-link">social media</a> to stay updated with the latest stories, inspiration, and the growing community.</p>
</section>
<%- include('../includes/footer.ejs') %>